body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f7f7f9;
  }
  
  .navbar {
    background-color: #333;
    padding: 1rem;
  }
  
  .navbar a {
    color: #fff;
  }
  
  .navbar a:hover {
    color: #ccc;
  }

  .navbar-collapse {
    justify-content: flex-end;
  }

  .jumbotron {
    background-color: #333;
    color: #fff;
    padding: 5rem;
  }
  
  .card {
    background-color: #fff;
    padding: 2rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
  }
  
  .card-body {
    padding: 2rem;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1rem;
    color: #666;
  }

  .footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: right;
    width: 100%;
  }
  
  .portofolio-img-principal {
    position: relative;
    margin: 0;
    padding: 0;
  }
  
  .image-container {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .text-section {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: calc(50% - 150px);
    padding: 20px;
    text-align: center;
  }
  
  .text-section:first-child {
    left: 0;
  }
  
  .text-section:last-child {
    right: 0;
  }
  
  .text-section h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
  }
  
  .text-section p {
    font-size: 1rem;
    font-weight: 300;
    color: #666;
  }
  
  .efecto-imagen {
    object-fit: cover;
    transition: filter 0.5s;
  }
  
  .mask {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: transparent;
  }
  
  .efecto-imagen.grayscale {
    filter: grayscale(100%);
  }
  
  .mask.right {
    transform: translateX(50%);
  }
  
  .mask.left {
    transform: translateX(-50%);
  }
